{% extends 'base.html' %}

{% load person_tags %}

{% block content %}

<div class="ui-widget">
	<form class="form-inline">
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
	      <input type="text" class="form-control" id="names" placeholder="Busca" style="width:350px">
	    </div>
	  </div>
	</form>
</div>
<h4><span style="float:right;margin-bottom:10px;" class="label label-default">Total {{ page_obj.paginator.count }}</span></h4>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Número</th>
			<th>Texto</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		{% for person in object_list %}
			<tr>
				<td>{{ person.number }}</td>
				<td>{{ person.text }}</td>
				<td><a href="{% url 'person_update' person.id %}">editar</a> <a href="{% url 'person_delete' person.id %}">excluir</a></td>
			</tr>
		{% empty %}
			<tr><td colspan="3">Não existem registros de pessoa até o momento.</td></tr>
		{% endfor %}
	</tbody>
</table>


{% if is_paginated %}

    <nav>
	  <ul class="pagination">
	    {% if page_obj.has_previous %}
	    	<li>
	      		<a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
	        		<span aria-hidden="true">&laquo;</span>
	      		</a>
	    	</li>
	    {% endif %}
	    {% for i in pages_range %}
	    	<li {% if page_obj.number == i %}class="active"{% endif %}><a href="?page={{i}}">{{ i }}</a></li>
	    {% endfor %}
	    {% if page_obj.has_next %}
		    <li>
		      <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
	    {% endif %}
	  </ul>
	</nav>

{% endif %}



<script>
  $(function() {
    $( "#names" ).autocomplete({
      source: "{% url 'person_search' %}",
      minLength: 2,
      select: function( event, ui ) {
      	window.location.href = '/pessoa/editar/'+ ui.item.id + '/';
      }
    });
  });
  </script>
{% endblock content %}